.blog {
  position: relative;
  margin: 6rem 0;
}

.blog-bg {
  position: absolute;
  right: 0;
  width: 25%;
}

.blog .wrapper {
  width: 95%;
  margin-inline: auto;
  /* border: 1px solid red; */
}

@media (min-width: 1024px) {
  .blog .wrapper {
    width: 60%;
  }
}

.blog-section-title {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  gap: 1rem;
}
.blog-section__title,
.blog-section__subtitle {
  text-align: center;
}

.blog-section__title {
  font-size: clamp(16px, 3vw, 50px);
}

.blog-section__subtitle {
  font-size: clamp(13px, 1vw, 35px);
  font-weight: 500;
}

.blog-section-grid {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
  margin: 2rem 0;
}

.blog-section-grid .main-post {
  position: relative;
  overflow: hidden;
  width: fit-content;
}

.blog-section-grid .main-post .dark-shade {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 15px;
  background: linear-gradient(
    to bottom,
    transparent,
    rgba(0, 0, 0, 0.3),
    /* Top color with 70% opacity */ rgba(0, 0, 0, 0.8)
  );
  display: flex;
  align-items: end;
}
.post-desc {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* gap: 2rem; */
  margin: 1rem;
}
.post-desc h5 {
  color: var(--primary-color);
  font-size: clamp(15px, 1vw, 20px);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.post-desc h2 {
  cursor: pointer;
}
.post-desc h2:hover {
  text-decoration: underline;
}
.post-desc h4,
.post-desc h6 {
  cursor: pointer;
  color: #f759bc;
  font-size: clamp(15px, 0.5vw, 20px);
}
.post-desc .author-date {
  display: flex;
  column-gap: 0.5rem;
  flex-wrap: wrap;
}

.post-desc .author-date p {
  font-size: clamp(13px, 0.6vw, 20px);
}
.post-desc .author-date .author {
  display: flex;
  gap: 0.4rem;
}

.post-desc .author-date .date {
  display: flex;
  gap: 0.4rem;
}
.main-post .main-post-img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
  object-fit: cover;
}

.more-posts {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.more-posts .more-post-card {
  border: 1px solid grey;
  border-radius: 10px;
  display: flex;
  gap: 1.5rem;
  background-color: #fff;
  z-index: 5;
  height: 100%;
}
.more-posts .more-post-card .card-img-container {
  max-width: 150px;
  /* border: 1px solid orange; */
}

.more-posts .more-post-card .card-img-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.card-post-desc-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.card-post-desc-container .author-date .date,
.card-post-desc-container .author-date .author,
.card-post-desc-container .author-date {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.card-post-desc-container .author-date {
  margin-top: 1rem;
}
.card-post-desc-container .author-date .date,
.card-post-desc-container .author-date .author {
  gap: 1rem;
  color: grey;
  font-size: clamp(12px, 0.5vw, 20px);
}

.card-post-desc-container h5 {
  font-size: clamp(16px, 1vw, 35px);
  margin: 0.5rem 0;
}

.card-post-desc-container h6 {
  font-size: clamp(15px, 0.6vw, 30px);
  color: var(--accent-color);
  align-self: flex-start;
  margin: 0;
}
