.testimonials {
  position: relative;
  margin-bottom: 0;
  overflow: hidden;
  margin: 5rem 0;
  /* border: 1px solid green; */
}


.testimonials-bg {
  position: absolute;
  bottom: 0;
  left: 0;
}

.testimonials .wrapper h1 {
  font-size: clamp(15px, 2vw, 50px);
  color: var(--primary-color);
  text-align: center;
}

.testimonials .wrapper p{
  text-align: center;
  margin-bottom: 2rem;
}

.frame-wrapper {
  background-color: var(--primary-color);
  /* border-radius: 8px; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: fit-content;
  place-self: center;
}

.testimonials .wrapper h3{
  text-align: center;
  margin: 2rem 0;
}