.hero .wrapper {
  background-color: var(--primary-color);
  border-radius: 20px;
  display: flex;
  gap: 1.5rem;
  padding: 6rem 2.5rem;
  place-content: center;
  overflow: hidden;
  position: relative;
  margin-top: 4.5rem;
}

@media (max-width: 768px) {
  .hero .wrapper {
    border-radius: 0;
    margin-top: 0;
  }
}

.hero-text-container,
.hero-img-container {
  flex: 1;
}

.hero-text-container {
  display: grid;
  gap: 1rem;
  color: #fff;
}

.hero-text-container .desc-container {
  position: relative;
  width: fit-content;
}

.hero-text-container .desc-container .desc-img.arrow {
  position: absolute;
  top: -50px;
  right: -40px;
}

.hero-text-container h1 {
  font-size: var(--hero-font-main);
  margin-bottom: 1rem;
  line-height: clamp(2.5vw, 5.2vw, 8vw);
  color: var(--secondary-color);
}

.hero-text-container p {
  font-size: var(--hero-font-desc);
  /* margin: 1.5rem 0; */
}

.hero-text-container .action-btns {
  /* margin-top: 1rem; */
  display: flex;
  gap: 2rem;
  align-items: center;
  /* flex-wrap: wrap; */
}
@media (max-width: 365px) {
  .hero-text-container .action-btns {
    gap: 1rem;
  }
}
@media (max-width: 351px) {
  .hero-text-container .action-btns {
    flex-wrap: wrap;
  }
}

.hero-text-container .action-btns button {
  white-space: nowrap;
  font-size: clamp(16px, 1rem, 30px);
}

.hero-text-container .action-btns a button {
  background-color: var(--secondary-color);
  color: white;
}

.hero-text-container .action-btns a .learn-more-btn {
  background-color: transparent;
  color: #fff;
  border: 1px solid var(--secondary-color);
}

.hero-img-container {
  position: relative;
  border: none;
  align-self: self-end;
}

.hero-img-container img {
  width: 150%;
  height: 100%;
}

.hero-img-container .blue-container-blur {
  position: absolute;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    rgba(10, 12, 30, 0.2) 40%,
    rgba(10, 12, 30, 0.6) 60%,
    rgba(10, 12, 30, 0.8) 80%
  );
  top: 0;
  bottom: 0;
  width: 100%;
}

.nano-frame {
  position: absolute;
  top: 0;
  height: 19%;
  width: 5%;
  left: -300px;
}

@media (max-width: 935px) {
  .nano-frame {
    top: 20px;
    left: 100px;
  }
}

@media (max-width: 1238px) {
  .hero-text-container,
  .hero-img-container {
    flex: initial;
  }

  .hero-text-container {
    text-align: center;
    margin: 2.5rem 0;
  }
  .hero-text-container .action-btns {
    justify-content: center;
  }
  .hero-text-container .desc-container {
    display: flex;
    justify-content: center;
    margin-inline: auto;
  }
  .hero .wrapper {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width: 422px) {
  .desc-img.arrow {
    width: 15%;
  }
}

@media (max-width: 401px) {
  .desc-img.arrow {
    display: none;
  }
}

.hero-plane-img {
  /* width: 20%; */
  position: absolute;
  right: -20px;
  bottom: 27px;
  overflow: hidden;
  z-index: 2;
}

.we-offer-button-like {
  display: flex;
  gap: 1rem;
  align-items: center;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
}

@media (max-width: 1238px) {
  .we-offer-button-like {
    justify-content: center;
  }
}

.we-offer-button-like .button-like {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  border-radius: 5px;
  padding: .8rem 1rem;
  border: 1px solid #fff;

}

.we-offer-button-like .button-like p{
  font-size: clamp(14px, .4rem, 30px);
}

.we-offer-button-like .button-like img {
  width: 20px;
}