.hero .wrapper {
  background-color: var(--primary-color);
  max-height: 100dvh;
  border-radius: 20px;
  display: flex;
  gap: 1.5rem;
  padding: 6rem 2.5rem;
  place-content: center;
  overflow: hidden;
  position: relative;
}

@media (max-width: 768px) {
  .hero .wrapper {
    border-radius: 0;
  }
}

.hero-text-container,
.hero-img-container {
  flex: 1;
}


.hero-text-container {
  display: grid;
  gap: 1rem;
  color: #fff;
}
.hero-text-container .desc-container {
  position: relative;
  width: fit-content;
}
.hero-text-container .desc-container .desc-img.arrow {
  position: absolute;
  top: -50px;
  right: -40px;
}

.hero-text-container h1 {
  font-size: var(--hero-font-main);
}

.hero-text-container p {
  font-size: var(--hero-font-desc);
  margin: 1.5rem 0;
}

.hero-text-container .action-btns {
  margin-top: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.hero-text-container .action-btns button {
  white-space: nowrap;
  font-size: clamp(16px, 1rem, 30px);
}

.hero-text-container .action-btns button:first-of-type {
  background-color: var(--secondary-color);
  color: white;
}



.hero-img-container {
  position: relative;
  border: none;
}

.hero-img-container img {
  width: 100%;
}

.hero-img-container .blue-container-blur {
  position: absolute;
  background: linear-gradient(
    to bottom,
    transparent 20%,
    rgba(10, 12, 30, 0.2) 40%,
    rgba(10, 12, 30, 0.6) 60%,
    rgba(10, 12, 30, 0.8) 80%
  );
  top: 0;
  bottom: 0;
  width: 100%;
}

.nano-frame {
  position: absolute;
  bottom: -20px;
  height: 20%;
  left: -300px;
}

@media (max-width:935px) {
  .nano-frame{
    top: 0;
    left: 100px;
  }
}


@media (max-width: 1238px) {
  .hero-text-container,
  .hero-img-container {
    flex: initial;
  }

  .hero-text-container{
    text-align: center;
    margin: 2.5rem 0;
  }
  .hero-text-container .action-btns {
    justify-content: center;
  }
  .hero-text-container .desc-container {
    display: flex;
    justify-content: center;
    margin-inline:auto;
  }
  .hero .wrapper {
    flex-wrap: wrap-reverse;
  }
}

@media (max-width:422px) {
  .desc-img.arrow{
    width: 15%;
  }
}

@media (max-width:401px) {
  .desc-img.arrow{
    display: none;
  }
}

.hero-plane-img{
  /* width: 20%; */
  position: absolute;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 2;
}