.testimonies-hero .wrapper {
  background-color: var(--primary-color);
  border-radius: 20px;
  color: white;
  padding: 3.5rem;
}

@media (max-width: 768px) {
  .testimonies-hero .wrapper {
    border-radius: 0;
    padding: 2rem;
  }
}

@media (max-width: 580px) {
  .testimonies-hero .wrapper {
    padding: 2rem 1rem;
  }
}
@media (max-width: 360px) {
  .testimonies-hero .wrapper {
    margin: 0;
  }
}
.testimonies-hero .wrapper h1 {
  font-size: clamp(16px, 6vw, 150px);
  text-align: center;
  line-height: 90%;
}

.testimonies-hero .wrapper p {
  text-align: center;
  font-size: clamp(12px, 1.25vw, 45px);
  margin: 2rem 0;
}

@media (min-width: 1024px) {
  .testimonies-hero .wrapper p {
    width: 60%;
    margin-inline: auto;
  }
}

.testimonies-hero .wrapper img {
  width: 100%;
  margin: 3rem 0;
}
