@media (min-width: 846px) {
  .career-detail-hero {
    /* height: 90dvh; */
  }
}
.career-detail-hero .wrapper {
  display: flex;
  gap: 4rem;
  margin-top: 3rem;
  margin-bottom: 10rem;
}

@media (min-width:1440px){
  .career-detail-hero .wrapper {
    /* margin-top: 3rem; */
    /* height: 100%; */
  }
}

@media (max-width:768px) {
  .career-detail-hero .wrapper {
    margin-top: 2rem;
  }
}
@media (min-width: 841px) {
  .career-detail-hero .wrapper {
    height: 100%;
  }
}

.career-detail-hero .wrapper .left-section {
  align-self: center;
  width: 100%;
}

.career-detail-hero .wrapper .left-section h1 {
  font-size: clamp(16px, 4vw, 120px);
  color: var(--primary-color);
}

.career-detail-hero .wrapper .left-section .career-path-intro {
  /* margin: 1.5rem 0; */
  /* width: 100%; */
  font-size: clamp(16px, 1vw, 30px);
  margin-bottom: 1.5rem;
}

.career-detail-hero .wrapper .left-section .action-btns {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
}

.career-detail-hero .wrapper .left-section .action-btns a button.consultant {
  background-color: var(--primary-color);
}
@media (max-width: 768px) {
  .career-detail-hero .wrapper .left-section .action-btns {
    justify-content: center;
  }
  .career-students-details {
    justify-content: center;
    text-align: center;
  }
}

@media (max-width: 425px) {
  .career-detail-hero .wrapper .left-section .action-btns {
    /* flex-wrap: wrap; */
    justify-content: space-between;
  }
  .career-students-details {
    text-align: left;
  }
  .career-detail-hero .wrapper .left-section .action-btns button {
    width: 100%;
  }
}

@media (max-width: 375px) {
  .career-detail-hero .wrapper .left-section .action-btns {
    flex-wrap: wrap;
  }
}

.career-detail-hero .wrapper .left-section .action-btns button:first-of-type {
  background-color: var(--secondary-color);
  color: #fff;
}

.career-detail-hero .wrapper .left-section .action-btns button {
  background-color: var(--primary-color);
  color: #fff;
}
/* .career-students-details .left-section h1,
.career-students-details .right-section h1 {
  font-weight: 600;
} */
@media (min-width: 842px) {
  .career-detail-hero .wrapper .left-section .career-path-intro {
    width: 80%;
  }
}

.career-detail-hero .wrapper .right-section {
  position: relative;
  width: 100%;
}

.career-detail-hero .wrapper .right-section .dark-shade {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(
    transparent,
    rgb(0, 0, 0, 0.2),
    rgb(0, 0, 0, 0.7)
  );
  display: flex;
  align-items: end;
  padding: 2rem;

  border-radius: 20px;
}

.career-rating-lang {
  margin-top: 3rem;
}
.career-detail-hero .wrapper .right-section .career-hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* object-position: right; */
  border-radius: 20px;
}
.career-rating,
.career-lang,
.career-rating-lang {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #fff;
}
.career-lang h2,
.career-rating h2 {
  font-size: clamp(16px, 1vw, 35px);
}

.start-date {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: var(--primary-color);
  color: #fff;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
}

.start-date p {
  font-size: clamp(13px, 0.3vw, 20px);
  white-space: nowrap;
}
.start-active {
  display: flex;
  gap: 2rem;
  align-items: center;
  flex-wrap: wrap;
}

.start-active .active {
  background-color: #cfffda;
  color: #069949;
  font-weight: 600;
  padding: 0.7rem 1.5rem;
  border-radius: 30px;
  border: 2px solid #069949;
}

@media (max-width: 842px) {
  .career-detail-hero .wrapper {
    flex-wrap: wrap-reverse;
    width: 100%;
    gap: 1.5rem;
  }
  .career-detail-hero .wrapper .left-section,
  .career-detail-hero .wrapper .right-section {
    margin: 2rem;
  }

  .career-detail-hero .wrapper .left-section {
    margin-top: 0;
  }

  .start-active {
    justify-content: center;
  }
  /* .career-students-details {
    margin: 0;
  } */
}

@media (max-width: 496px) {
  .career-detail-hero .wrapper .left-section,
  .career-detail-hero .wrapper .right-section {
    margin: 1rem;
  }
}

.career-students-details {
  display: flex;
  margin: 1rem 0;
}

@media (max-width: 404px) {
  .career-students-details {
    flex-wrap: wrap;
  }
}

.career-students-details .left-section,
.career-students-details .right-section {
  width: fit-content;
  height: fit-content;
}

.career-students-details .left-section p,
.career-students-details .right-section p {
  font-size: clamp(15px, 0.8vw, 25px);
}
.career-students-details h1 {
  font-weight: 600;
}
