header {
  z-index: 1000;
  padding: 1rem 0;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
}

a.active {
  color: var(--accent-color);
  background-color: transparent;
  padding: 0;
}

header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 1rem 0; */

  /* border: 1px solid green; */
}

@media (max-width: 768px) {
  header .wrapper {
    width: 90%;
  }
}

header img {
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
  max-width: 200px;
}

header svg {
  width: 100%;
  max-width: 40px;
  display: none;
}

nav {
  flex: 1;
  margin-left: 1rem;
  /* border: 1px solid green; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-color);
}

.center-nav-items {
  /* flex: 1; */
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  margin-right: 2rem;
}

.right-nav-items {
  /* margin-right: 2rem; */
}

.center-nav-items,
.right-nav-items {
  display: flex;
  gap: 2rem;
  list-style-type: none;
  cursor: pointer;
  font-weight: 600;
  flex-shrink: 1;
  /* justify-content: center;  causes no issue*/
}
.center-nav-items li,
.right-nav-items li {
  transition: all 0.3s ease-in-out;
  white-space: nowrap;
}
.center-nav-items li:hover,
.right-nav-items li:hover {
  color: var(--accent-color);
  transform: scale(1.1);
}
.nav-show-icon {
  display: none;
}
.asset,
.man-asset {
  display: none;
}
@media (max-width: 976px) {
  header svg {
    width: 100%;
    max-width: 40px;
    display: block;
    color: var(--primary-color);
  }
  .center-nav-items,
  .right-nav-items,
  nav {
    flex-direction: column;
    padding: 0;
  }

  nav {
    background-color: var(--primary-color);
    position: absolute;
    color: #fff;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    height: 100vh;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-900px);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out,
      visibility 0.3s ease-in-out;
    padding-bottom: 2rem;
    z-index: 999;
  }

  nav.show {
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
  }
  nav svg {
    display: none;
  }
  nav.show .nav-show-icon {
    display: block;
    position: absolute;
    top: 30px;
  }
  nav.show svg {
    color: #fff;
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    width: 6%;
  }

  .center-nav-items {
    margin: 0;
  }
  nav.show .asset {
    display: block;
    position: absolute;
    width: 15%;
    left: 10px;
    top: 20%;
  }

  nav.show .man-asset {
    display: block;
    position: absolute;
    width: 35%;
    right: 0;
    bottom: 0;
  }
}

.disable-link {
  color: grey;
  cursor: not-allowed;
  pointer-events: none;
}

.nav-tel-container {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.nav-tel-container img {
  width: 10%;
}

.right-nav-items button {
  background-color: #fff;
  border: 1px solid grey;
}

.nav-sign-in {
  padding: 0.4rem 1rem;
}

.authenticated {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.authenticated p{
  flex-shrink: 0;
}
.authenticated button {
  flex-shrink: 0;
  border: none;
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.6rem;
}
.authenticated button img {
  width: 20px;
}
