.hwd {
  background-color: var(--primary-color);
  margin: 0;
  padding: 5rem 5rem 2rem 5rem;
  overflow: hidden;
}

.hwd .wrapper {
  display: flex;
  gap: 3.5rem;
  width: 80%;
}

.hwd-right-title .desc-bar {
  width: 20%;
}

.hwd-left {
  width: fit-content;
}

.hwd-right-title h1 {
  font-size: clamp(16px, 3vw, 60px);
  color: #fff;
}
.hwd-left .img-container {
  position: relative;
  width: fit-content;
}
.hwd-left .img-container .hwd-orange-plane {
  position: absolute;
  left: 0;
  bottom: 10%;
  left: -70px;
}

.hwd .hero-text-container {
  margin: 2.5rem 0;
  text-align: left;
}

.hwd .hero-text-container h1 {
  font-size: clamp(16px, 2vw, 50px);
  font-weight: 500;
  margin-top: 0;
  color: #fff;
}

.hwd .hero-text-container p {
  font-size: clamp(16px, 1vw, 40px);
  font-style: italic;
  color: #f98b03;
  margin-bottom: 0;
}

.action-item-btn {
  width: fit-content;
  margin: 0;
}

.hwd-right-boxes {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 2rem;
}
.black-lady-learn {
  width: 100%;
}

.hwd-right-boxes > div:nth-child(2n) {
  align-self: flex-start;
}

.hwd-right-box-card {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 1.3rem;
  color: #fff;
  width: 50%;
  align-self: center;
}

.box-head-row {
  display: flex;
  gap: 1.3rem;
  align-items: center;
  margin-bottom: 1rem;
}

.box-head-row h3 {
  font-size: clamp(14px, 0.8vw, 40px);
}

@media (max-width: 1274px) {
  .hwd {
    padding: 3.5rem 2rem;
  }
}

@media (max-width: 1237px) {
  .hwd .wrapper {
    width: 90%;
  }
}

@media (max-width: 1106px) {
  .hwd .wrapper {
    width: 95%;
  }
}

@media (max-width: 1042px) {
  .hwd .wrapper {
    flex-wrap: wrap;
    margin: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .hwd-left,
  .hwd-right {
    width: 100%;
  }
  .hwd-right-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .hwd-right-title .desc-bar {
    order: 2;
  }
  .hwd-right-boxes > div:nth-child(2n) {
    align-self: center;
  }

  .hwd .hero-text-container {
    text-align: center;
  }

  .action-item-btn {
    margin-inline: auto;
  }

  .hwd-left .img-container{
    margin: 0 auto;
  }
}

@media (max-width:600px) {
  .hwd-right-box-card{
    width: 100%;
  }
}
@media (max-width: 698px) {
  .hwd-orange-plane{
    display: none;
  }
}

@media (max-width:444px) {
  .hero-text-container .desc-container .desc-img.arrow{
    display: none;
  }
}