.grey-shade {
  position: fixed;
  inset: 0;
  z-index: 20;
  opacity: 0;
  visibility: hidden;
  transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}
.grey-shade.show {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.enroll-form-container {
  height: 100vh;
  place-content: center;
}

.enroll-form {
  color: var(--primary-color);
  position: relative;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.enroll-form .cancel-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

.enroll-form h1 {
  color: var(--primary-color);
  font-size: clamp(20px, 2vw, 30px);
}
.enroll-form form {
  display: grid;
  gap: 1rem;
  margin-top: 2rem;
}

.enroll-form form button {
  background-color: var(--primary-color);
  color: #fff;
}
.enroll-form form div {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.enroll-form form .more-insights {
  flex-wrap: nowrap;
  font-size: clamp(13px, 0.8vw, 20px);
}

.enroll-form form .more-insights input {
  width: 8%;
}

@media (max-width: 425px) {
  .enroll-form form div select,
  .enroll-form form div input {
    flex: auto;
    width: 100%;
  }
}

.enroll-form form div select,
.enroll-form form div input {
  /* width: 100%; */
  flex: 1;
  padding: 0.8rem 1rem;
  border-radius: 6px;
  border: 1px solid grey;
}
