.girl-get-started{
  padding: 2rem;
}

.girl-get-started-img{
  margin-inline:auto;
  place-content: center;
  display: flex;
  position: relative;
  width: 30%;
}
.girl-get-started .girl-started {
  margin-inline: auto;
  display: flex;
  place-content: center;
  width: 40%;
}

@media (max-width:550px) {
  .girl-get-started-img,
  .girl-get-started .girl-started {
    width: 100%;
  }
}