.events-hero {
  background-image: url("../../../../assets/images/eventshero.png");
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  position: relative;
}

.events-hero .hero-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.events-hero .hero-overlay h1 {
  font-size: clamp(2rem, 5vw, 3rem);
}

.events-hero .hero-overlay p {
  font-size: clamp(1.5rem, 1vw, 5rem);
  font-weight: 500;
}

@media (min-width: 768px) {
  .events-hero .hero-overlay p {
    width: 70%;
  }
}
